@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	
@font-face{font-family:'Comfortaa';src:url(../../img/Comfortaa-Regular.ttf); font-style:normal; font-weight:normal}
img{
  max-width:100%;
}
h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#slider {
  width:80%;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;

}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: auto;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 800px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}


head {
  position:fixed;
  top:0%;
}
img { max-width: 100%;
  }
aside img {
  /*max-width:auto;*/
  height:auto;
}
.logo{
  top:0;
  position:fixed;
  background-color: #FFCCCC;
  width:80%;
  margin:auto;
}
  #tfheader{
    width:80%;
    display:block;
    position:fixed;
    margin:auto;
    margin-top:90px;

  }
  #tfnewsearch{
    float:right;
    padding:20px;
    margin-bottom:0;
  }
  .tftextinput{

    margin: 0;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #663366; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }
  .tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #663366; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#996699), to(#663366));
    background: -moz-linear-gradient(top,  #996699, #663366);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }
  .tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#663366), to(#663366));
    background: -moz-linear-gradient(top,  #663366,  #663366);
  }
  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }
  .tfclear{
    clear:both;
  }

body{
  width:80%;
  background-color: #EFE4E4;
  margin:auto;  
}
.page{
  background-color:#FFCCCC;

}
.top-nav{
  z-index:9999;
  position:fixed;
    display:flex;
    display:-webkit-flex;
    flex-direction:row; 
    flex-wrap:wrap; 
    width:80%;
    margin:auto;
    margin-bottom:30px;
}

.item{
    z-index:9999;
    text-align: center;
    text-decoration: none;
    min-width:16%;
    height: 50px;
    flex:1;
    order:6;
    box-sizing:border-box;
    margin-top:72px;
    font-size: 1em;
    text-align:center;
    font-family: 'Comfortaa',cursive, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #996699;
}
.item a {
    display: block;
    color: white;
    text-align: center;
    padding:auto;
    height:50px;
    padding-top:17px;
    padding-bottom:auto;
    text-decoration: none;
}

.item a:hover:not(.active) {
    background-color: #E5707B;
}

.active {
    background-color: #FF9999;
    font-style:italic;
}
.item1 {
    min-width:12%;
}
.item2 {
    min-width:17%;
}
.item3 {
    min-width:13%;
}
.item4 {
    min-width:13%;
}
.item5 {
    min-width:20%;
}
.item6 {
    min-width:25%;
}

* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
  margin-top:50px;
    float: left;
    padding: 15px;


}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

section {
  float: left;
  position:static;
  font-size: 1em;
  color:#663366;
  text-align: justify;
  text-indent:2em;
  line-height:1.5;

}
aside {
  margin-top:5%;
  margin-left:10%;
}

p{
  margin-left:10%;
  margin-right:10%;
  line-height:1.5;
  font-size: 1em;
  text-indent:2em;
  text-align:justify;
  color:#663366;
}
.intro{
    line-height:1.5;
  font-size: 1em;
  text-indent:2em;
  text-align:justify;
  color:#663366;
}
#tv{
  display:block;
  margin-right: auto;
  margin-left:auto;
  text-align:center
}
.bottom-nav{
  display:block;
    text-align: center;
    padding:10px;
    background-color:#FFCCCC;
}
.gallery{
  text-align:center;
  margin-top:200px;
  padding:0;
  background-color:#FFCCCC;
  width:80%;
  height:1500px;
}
div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
} 

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

@media (max-width: 640px) {
  .top-nav{
    top:23%;
    padding-bottom:10px;
  }

  .item{
    height:30px;
    font-size:0.8em;
  }
  .item a{
    padding-top:10px;
  }
  .item1{
    min-width:25%;
  }
  .item2{
    min-width:25%;
  }
  .item3{
    min-width:25%;
  }
  .item4{
    min-width:25%;
  }
  .item5{
    min-width:50%;
  }
  .item6{
    min-width:50%;
  }
}


